[Desktop Entry]
Type=Application
Name=Devsy
Comment=Codespaces but open-source, client-only and unopinionated
Exec=sh.devsy.devsy
Icon=sh.devsy.devsy
StartupNotify=true
Categories=Development;
Keywords=development;container;devcontainer;remote;
