[Desktop Entry]
Name=Devsy
Comment=Dev environments in any infrastructure
Exec=devsy-wrapper
Icon=sh.devsy.app
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=Devsy
