[Desktop Entry]
Name=Devsy
Comment=Dev environments in any infrastructure
Exec=devpod-wrapper
Icon=dev.devsy.app
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=Devsy
